[submodule "HeliosLauncher"]
    path = HeliosLauncher
    url = https://github.com/Kevin-Studio-Dev/SpearfishForest4-HeliosLauncher.git
[submodule "Nebula"]
    path = Nebula
    url = https://github.com/Kevin-Studio-Dev/SpearfishForest4-Nebula.git
[submodule "Release"]
    path = Release
    url = https://github.com/Kevin-Studio-Dev/SpearfishForest4-Release.git
